/* Vertical tabs */
/* ------------------------------------------------- */

/* Fix nested vertical tabs */
.vertical-tabs fieldset fieldset legend {
  display: inline-block;
}
div.vertical-tabs .vertical-tabs-panes fieldset fieldset {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2.5em 0 0;
}
div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend {
  display: inline-block;
}

/* Field Group */
/* ------------------------------------------------- */

/* Make fieldgroup tables more compact */
table.field-group-format { width: auto; }
table.field-group-format td label { display: none; }
table.field-group-format .field-content { padding: 5px 15px; }
table.field-group-format td .form-item { margin-bottom: 0; }
table.field-group-format td .description { display: inline-block; margin-left: 1em; }

/* Field UI */
/* ------------------------------------------------- */

/* Make field multiple tables more compact*/
table.field-multiple-table td { padding: 5px 20px; }
table.field-multiple-table { width: auto; min-width: 50%; }

/* move formatted textarea description to the top as its difficult to notice
 * when its after the filter */
.field-widget-text-textarea-with-summary .text-format-wrapper,
.field-widget-text-textarea .text-format-wrapper {
  display: table;
  width: 100%;
  caption-side: top;
}
.text-format-wrapper .description {
  display: table-caption;
  margin-top: 1em;
}

/* Context UI */
/* ------------------------------------------------- */

/* Make tags more visible on the context UI page */
table.context-admin td.tag {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 15px;
}
/* Make context tables more compact by display name and description on same row */
table.context-admin div.description {
  display: inline-block;
  margin-left: 2em;
}
/* less table spacing */
table.context-admin td {
  padding: 5px;
}

/* Viewfield */
/* ------------------------------------------------- */

/* The viewfield widgets descriptions wont break due to the default table style which doesnt wrap white space */
.field-type-viewfield tr .form-item {
  white-space: normal !important;
}

/* DS Views + Overlay */
/* ------------------------------------------------- */

/* views footer is styled by overlay.css when shown in DS */
.draggable#footer {
  position: static !important;
  font-size: 1em !important;
}

/* Views */
/* ------------------------------------------------- */

/* Show the links under eg contextual, relationsships etc as italic when overriden. */
.views-ui-display-tab-bucket.overridden a { font-style: italic; }

/* Make views overview table more compact */
#views-ui-list-page {
  font-size: 90%;
  line-height: 1;
}
#views-ui-list-page th.views-ui-operations { width: 15%; }
#views-ui-list-page th.views-ui-name { width: 30%; }
#views-ui-list-page .views-ui-view-displays,
#views-ui-list-page .views-ui-view-storage,
#views-ui-list-page .views-ui-view-base {
  float: left;
  margin-right: .5em;
}

/* Custom form styling classes usable through field groups */
/* ------------------------------------------------- */

/* Custom class to style form items into columns for condensed output. Add a
 * div with this class through field groups and add fields as its children */
.form-wrapper-columns > div {
  float: left;
  min-width: 200px;
  margin-right: 2em;
  margin-bottom: 1em;
}
.form-wrapper-columns + div,
.form-wrapper-columns + .element-invisible + div,
.form-wrapper-columns + .element-invisible + fieldset {
  clear: left;
}
/* restrict the size of viewfields inside columns as they span 100% all the time */
.form-wrapper-columns > .field-type-viewfield {
  width: 350px;
}

/* CKEditor */
/* ------------------------------------------------- */

/* Make the style dropdown larger */
.cke_combopanel {
  height: 300px !important;
}
